[Unit]
Description=X User Tweet Monitor (YAP Links)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/xScraper
ExecStart=/usr/bin/python3 main_yap_scraper.py
Restart=always
RestartSec=10
Environment=DISPLAY=:99

[Install]
WantedBy=multi-user.target 