[Unit]
Description=Twitter YAP Scraper
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/xUserTweetMonitor/linux
ExecStart=/usr/bin/python3 main_yap_scraper.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 